// COLORS
$backColor: gray;
$OperatorColor: rgb(209, 209, 209);
$hoverOperatorColor: rgb(187, 187, 187);
//--------------------

// Indent
$GridGap: 5px;
//-------------------
$FontF: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
.calc {
	width: 500px;
	max-height: 600px;
	background: rgb(230, 230, 230);
	margin: 0 auto;
	border-radius: 5px;
}
.calc__container {
	padding-top: 20%;
	padding-bottom: 3%;
	height: 100%;
}
// VALUE AREA ==============================
.calc__value-area {
	font-family: $FontF;
	width: 90%;
	height: 100px;
	margin: 0 auto;
	border: 2px dashed green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.value {
		form {
		}
		input {
			width: 100%;
			height: 100%;
			text-align: right;
			font-family: $FontF;
			background: none;
			padding-right: 3px;
		}
	}
	.previous-value {
		width: 100%;
		input {
			color: rgb(143, 143, 143);
			font-size: 20px;
		}
	}
	.current-value {
		input {
			font-size: 40px;
		}
	}
}
.calc__tools-area {
	width: 100%;
	height: 90%;
	padding: 10% 0 0 0;
	display: flex;
	justify-content: space-evenly;
}
.calc__oper-num {
	display: flex;
	width: 100%;
	justify-content: center;
}
.oper-num__operators {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: $GridGap;
	grid-row-gap: $GridGap;
}
.operator {
	font-family: $FontF;
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 250%;
	background: $OperatorColor;
	box-shadow: 0px 0px 2px 0px gray;
	user-select: none;
	transition: all 0.05s ease-in-out;
	&:hover {
		background: $hoverOperatorColor;
		box-shadow: 0px 0px 2px 1px rgb(83, 83, 83);
	}
}
.operator__num-color {
	background: rgb(224, 224, 224);
}
.oper-num__numbers {
}
.oper-num__aside {
	margin-left: $GridGap;
	width: 20%;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: $GridGap;
	grid-row-gap: $GridGap;
}
